.about {
  padding-bottom: 2rem;

  //nesting the bio image inside the about along with its child
  &-bio-image {
    height: 50vh;
    width: 100%;
    background: 
       linear-gradient(
         to right, 
         rgba($primary-colour, 0.9)
         rgba($primary-colour, 0.3)
         ),
       url('../images/image.jpg') center top;
     background-size: cover;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-end;

     p {
       margin-bottom: 2rem;
     }
   }

   //bio image child
   &-bio {
     width: 80%;
     text-align: center;
       
     .text-secondary {
       padding-bottom: 1rem; 
       }
     }
  
  //nesting the education class inside the about
   .education {
       width: 60vw;
       margin: 2rem auto 0 auto;
       display: grid;
       grid-template-columns: 1fr;
       grid-gap: 2rem;

       .text-secondary {
         padding-bottom: 1rem; 
       }

       &-education1 {
         background: lighten($primary-colour, 10%);
         padding: 0.5rem;
         border-bottom: 5px solid $third-colour;

         h2, h3 {
           margin: 0.5rem 0;
         }
       }
     }

  //nesting the skills inside the about
   .skills {
       width: 60vw;
       margin: 2rem auto 0 auto;
       display: grid;
       grid-template-columns: 1fr;
       grid-gap: 2rem;

       .text-secondary {
         padding-bottom: 1rem; 
       }

       &-skill1 {
         background: lighten($primary-colour, 10%);
         padding: 0.5rem;
         border-bottom: 5px solid $third-colour;

         h2, h3 {
           margin: 0.5rem 0;
         }
       }

       &-skill2 {
         background: lighten($primary-colour, 10%);
         padding: 0.5rem;
         border-bottom: 5px solid $third-colour;

         h2, h3 {
           margin: 0.5rem 0;
         }
       }
   }

   //nesting the certification inside the about
   .certification{
     width: 60vw;
       margin: 2rem auto 0 auto;
       display: grid;
       grid-template-columns: 1fr;
       grid-gap: 2rem;

       .text-secondary {
         padding-bottom: 1rem; 
       }

       &-certification1 {
         background: lighten($primary-colour, 10%);
         padding: 0.5rem;
         border-bottom: 5px solid $third-colour;

         h2, h3 {
           margin: 0.5rem 0;
         }
       }
   }
   
   //nesting the social icons inside the about
   .social-icons {
     display: flex;
     flex-direction: column;
   }

   //nesting the footer inside the about
   footer {
     transform: 
       rotate(90deg)
       translate(-3rem, -5rem);
   }

}