.projects {
  padding-bottom: 2rem;

  //nesting the bio image inside the projects along with its child
  &-bio-image {
    height: 30vh;
    width: 100%;
    background: 
       linear-gradient(
         to right, 
         rgba($primary-colour, 0.9)
         rgba($primary-colour, 0.3)
         ),
       url('../images/image.jpg') center top;
     background-size: cover;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-end;

     .text-secondary {
       font-size: 1.2rem;
       margin-bottom: 2rem;
       color: $third-colour;
     }
   }
  
  //nesting the items class inside the projects
   &-items {
       width: 60vw;
       margin: 2rem auto 0 auto;
       display: grid;
       grid-template-columns: 1fr;
       grid-gap: 2rem;
  }

  //nesting the item class inside the projects
  &-item {
    position: relative;
    border-bottom: 5px solid $third-colour;
    overflow: hidden;
    cursor: pointer;

    //nesting the image inside the item class for easy access
    img {
      width: 100%;
    }

    //creating an after effect for the image
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: $third-colour;
      opacity: 0;
      @include transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }

      .projects-btn {
        opacity: 1;
      }
    }
  }

  //working with the buttons
  &-btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    text-align: center;
  }

  //working with the individual buttons
  &-btn {
    opacity: 0;
    color: set-text-colour($third-colour);
    @include transition-ease;

    &:hover {
      color: set-text-colour(set-text-colour($third-colour));
    }
  } 
   
   //nesting the social icons inside the projects
   .social-icons {
     display: flex;
     flex-direction: column;
   }

   //nesting the footer inside the projects
   footer {
     transform: 
       rotate(90deg)
       translate(-3rem, -5rem);
   }
}